<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body>
    {% with messages = get_flashed_messages()%} {% if messages %} {% for message
    in messages %}
    <span class="success">{{ message }}</span>
    {% endfor %} {% endif %} {% endwith %} {% for user in users %}
    <div class="user">
      <h2>Name: {{ user.username }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
    </div>
    {% endfor %}

    <button><a href="/logout">Logout</a></button>
  </body>
</html>
